#root {
  font-family: "Fjalla One", sans-serif;
  color: hsl(204, 33%, 97%);
  background-color: hsl(120, 2%, 20%);
  min-height: 100vh;
}
#root .title {
  color: hsl(204, 33%, 97%);
}
#root .subtitle {
  color: hsl(205, 25%, 91%);
}
#root .clickable {
  cursor: pointer;
  transition: 0.8s;
}
#root .clickable:hover {
  cursor: pointer;
  color: hsl(128, 15%, 61%);
  transition: 0.8s;
}

#root a {
  color: hsl(128, 15%, 61%);
  transition: 0.8s;
}
#root a:hover {
  color: hsl(204, 33%, 97%);
  transition: 0.8s;
}

#spinner {
  border: 2px solid lightgray;
  border-top-color: white;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  animation: spin 1s infinite;
}

#spinner-small {
  border: 2px solid lightgray;
  border-top-color: white;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  animation: spin 1s infinite;
}

#spinner-extra-small {
  border: 2px solid lightgray;
  border-top-color: white;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
